:root{
    --blue-color: #4682B4;
    --gray-color: #DDD;
    --dark-gray-color: #666;
}

* {
  font-size: 16px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  line-height: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  word-break: keep-all;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}
