aside .go-top {
  position: fixed;
  bottom: 25vw;
  right: 4vw;
  display: block;
  width: 11vw;
  height: 11vw;
  background: url(../images/top-orange.png) no-repeat 0 0;
  background-size: contain;
  text-indent: -10000px;
  overflow: hidden;
  z-index: 100;
}

aside .go-top:hover {
  background-image: url(../images/top-white.png);
}

aside .go-top:active {
  background-image: url(../images/top-orange.png);
}

